* {
  background-color: #273440;
}

.udbhav,
.udbhav1 {
  display: flex;
}
.udbhav1 {
  margin-top: 40px;
}
.success1 img {
  opacity: 80%;
}
.container,
.container2,
.udbhav3 {
  width: 50%;
  padding: 60px 7px;
  color: blanchedalmond;
  font-family: "Baloo 2", sans-serif;
  font-family: "DM Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
.container {
  text-shadow: 5px 2px #373535, 2px 4px #2f3133, 3px 5px #363839;
  transform: translateX(-20%);
  padding: 60px -2px;
}
@keyframes aditya {
  0% {
    transform: translateX(700px);
  }
  100% {
    transform: translateX(0px);
  }
}
.container h1 {
  text-shadow: 5px 2px #a09d9d, 2px 4px #2f3133, 3px 5px #363839;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite, aditya 1.5s ease-in-out;
  animation-timing-function: view();
  display: inline-block;
}
.container p {
  animation: aditya 2.5s ease-in-out;
  animation-timing-function: view();
}
.success1 {
  animation: aditya 2.5s ease-in-out;
  animation-timing-function: view();
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.container2 {
  padding: 20px 40px;
  padding-left: 90px;
}
.pitch1 {
  width: 100%;
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 40px;
}

.pitch1 img {
  opacity: 100%;
  filter: blur(0);
  animation: blurAnimation 2.5s ease-in-out;
  animation-timing-function: view();
}
@keyframes blurAnimation {
  0% {
    transform: translateY(-700px);
  }
  100% {
    transform: translateY(0px);
  }
}

.udbhav3 {
  /* background: blanchedalmond; */
  color: blanchedalmond;
  margin: 4px auto;
  width: 100%;
}
.wallstreet h1 {
  animation: aditya 2.5s ease-in-out;
  animation-timing-function: view();
}
.wallstreet div {
  animation: aditya 2.5s ease-in-out;
  animation-timing-function: view();
}
.udbhav3 h1,
.udbhav3 div {
  background: transparent;
  margin: 10px 20%;
}
.line1::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 165%;
  background-color: rgb(242, 242, 246);
  top: 10%;
  left: 5%;
  z-index: 2;
  border-radius: 20%;
  animation: moveline 4s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0px;
  }
  100% {
    height: 177%;
  }
}

.udbhav3 {
  background: url("./images/wal.jpg") 8px scroll;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
  opacity: 50%;

  /* animation: moveline 4s linear forwards; */
}
.wallstreet h1,
.wallstreet div {
  color: rgb(217, 238, 181);
  font-family: "Baloo 2", sans-serif;
  font-family: "DM Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  background: transparent;
}
.wallstreet {
  width: 80%;
  padding: 60px 7px;
  margin: 2px auto;
  position: relative;
  top: -400px;
  background: transparent;
  background-image: linear-gradient(
    -225deg,
    #eff0f0 0%,
    #eff4f8 29%,
    rgba(255, 255, 255, 0.645) 67%,
    rgba(249, 249, 246, 0.912) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}
@media (max-width: 770px) {
  .udbhav {
    flex-direction: column;
  }
  .pitch1 {
    animation: lightmedia 2.5s ease-in-out;
    animation-timing-function: view();
  }
  .success1 {
    animation: lightmedia 2.5s ease-in-out;
    animation-timing-function: view();
  }
  .udbhav1 {
    flex-direction: column-reverse;
  }
  .container {
    width: 100%;
    margin-left: 30%;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .pitch1 img,
  .success1 img {
    width: 100%;
  }
  .success1 img {
    position: relative;
    left: 10%;
  }
  .success1,
  .udbhav1 {
    width: 100%;
    margin-top: 0px;
  }
  .success1 img {
    margin-left: 5%;
  }
  .container h1 {
    animation: udbhavmedia 2s ease-in-out;
    animation-timing-function: view();
  }
  .container p {
    animation: udbhavmedia 2s ease-in-out;
    animation-timing-function: view();
  }
  .success1 {
    width: 80%;
    margin-left: 8%;
  }
  .container2 {
    width: 100%;
    margin-left: -4%;
  }
  .container2 h1 {
    animation: udbhavmedia 2.5s ease-in-out;
    animation-timing-function: view();
  }
  .container2 p {
    animation: udbhavmedia 2.5s ease-in-out;
    animation-timing-function: view();
  }
  .line1::after {
    background-color: #273440;
  }
  .wallstreet h1 {
    animation: lightmedia 2.5s ease-in-out;
    animation-timing-function: view();
  }
  .wallstreet div {
    animation: lightmedia 2.5s ease-in-out;
    animation-timing-function: view();
  }
  .udbhav3 {
    animation: blu 2s;
    animation-timing-function: view();
    width: 100%;
    position: relative;
    left: 4%;
  }
  @keyframes blu {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 20%;
    }
  }
  @keyframes lightmedia {
    0% {
      transform: translateX(500px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes udbhavmedia {
    0% {
      transform: translateX(-500px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
@media (max-width: 380px) {
  .container h1 {
    font-size: 0.8 em;
  }
  .container div {
    font-size: 80%;
  }
  .container {
    position: relative;
    left: 50px;
    width: 110%;
  }
  .container2 {
    font-size: 80%;
  }
  .udbhav3 {
    font-size: 0.8em;
    margin-top: -3px;
  }
}
@media (max-width: 450px) {
  .udbhav3 {
    font-size: 70%;
    margin-left: 10px;
    margin-right: -80px;
    margin-top: -40px;
    width: 100%;
  }
  .wallstreet {
    font-size: 0.7em;
    left: 100px;
  }
  .udbhav3 h1 div {
    position: relative;
    top: -100px;
  }
}
.container2 h1 {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #273440 0%,
    rgb(0, 195, 255) 29%,
    blanchedalmond 67%,
    rgb(229, 187, 124) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite, about 3s ease-in-out;
  animation-timing-function: view();
  display: inline-block;
  /* animation: about 3s ease-in-out 1s; */
}
.container2 p {
  animation: about 3s ease-in-out;
  animation-timing-function: view();
}
@keyframes about {
  0% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
